spring:
     r2dbc:
          url: ${DATABASE_URL:r2dbc:postgresql://144.126.140.79:5410/sistemajass}
          username: ${DATABASE_USER:postgres}
          password: ${DATABASE_PASSWORD:SistemaJass12}
          pool:
               initial-size: 5
               max-size: 20
               max-idle-time: 30m

     flyway:
          enabled: true
          url: ${SPRING_FLYWAY_URL:jdbc:postgresql://144.126.140.79:5410/sistemajass}
          user: ${SPRING_FLYWAY_USER:postgres}
          password: ${SPRING_FLYWAY_PASSWORD:SistemaJass12}
          locations: classpath:db/migration
          table: flyway_schema_history_inventory
          baseline-on-migrate: true

     rabbitmq:
          host: ${RABBITMQ_HOST:localhost}
          port: ${RABBITMQ_PORT:5672}
          username: ${RABBITMQ_USER:guest}
          password: ${RABBITMQ_PASSWORD:guest}
          publisher-confirm-type: correlated
          publisher-returns: true

logging:
     level:
          pe.edu.vallegrande: DEBUG
          org.springframework.r2dbc: DEBUG
