spring:
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://vg-ms-authentication:8082
          predicates:
            - Path=/api/auth/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
            - name: CircuitBreaker
              args:
                name: authCircuitBreaker
                fallbackUri: forward:/fallback/auth
        - id: users-service
          uri: http://vg-ms-users:8081
          predicates:
            - Path=/api/users/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
            - name: CircuitBreaker
              args:
                name: usersCircuitBreaker
                fallbackUri: forward:/fallback/users
        - id: organizations-service
          uri: http://vg-ms-organizations:8083
          predicates:
            - Path=/api/organizations/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
            - name: CircuitBreaker
              args:
                name: organizationsCircuitBreaker
                fallbackUri: forward:/fallback/organizations
        - id: notifications-service
          uri: http://vg-ms-notifications:8085
          predicates:
            - Path=/api/notifications/**
          filters:
            - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
            - name: CircuitBreaker
              args:
                name: notificationsCircuitBreaker
                fallbackUri: forward:/fallback/notifications

cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200, https://lab.vallegrande.edu.pe/jass/SistemaJass}
logging:
  level:
    org.springframework.cloud.gateway: debug
