spring:
     cloud:
          gateway:
               routes:
                    - id: auth-service
                      uri: http://vg-ms-authentication:8082
                      predicates:
                           - Path=/api/auth/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: authCircuitBreaker
                                  fallbackUri: forward:/fallback/auth
                    - id: users-service
                      uri: http://vg-ms-users:8081
                      predicates:
                           - Path=/api/users/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: usersCircuitBreaker
                                  fallbackUri: forward:/fallback/users
                    - id: organizations-service
                      uri: http://vg-ms-organizations:8083
                      predicates:
                           - Path=/api/organizations/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: organizationsCircuitBreaker
                                  fallbackUri: forward:/fallback/organizations
                    - id: notifications-service
                      uri: http://vg-ms-notifications:8090
                      predicates:
                           - Path=/api/notifications/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: notificationsCircuitBreaker
                                  fallbackUri: forward:/fallback/notifications
                    - id: distribution-service
                      uri: http://vg-ms-distribution:8091
                      predicates:
                           - Path=/api/distribution/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: distributionCircuitBreaker
                                  fallbackUri: forward:/fallback/distribution

                    - id: infrastructure-service
                      uri: http://vg-ms-infrastructure:8089
                      predicates:
                           - Path=/api/water-boxes/**,/api/water-box-assignments/**,/api/water-box-transfers/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: infrastructureCircuitBreaker
                                  fallbackUri: forward:/fallback/infrastructure

                    - id: commercial-service
                      uri: http://vg-ms-commercial:8094
                      predicates:
                           - Path=/api/receipts/**,/api/debts/**,/api/payments/**,/api/petty-cash/**,/api/service-cuts/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: commercialCircuitBreaker
                                  fallbackUri: forward:/fallback/commercial

                    - id: claims-service
                      uri: http://vg-ms-claims:8085
                      predicates:
                           - Path=/api/incidents/**,/api/incident-resolutions/**,/api/incident-types/**,/api/complaints/**,/api/complaint-categories/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: claimsCircuitBreaker
                                  fallbackUri: forward:/fallback/claims

                    - id: inventory-service
                      uri: http://vg-ms-inventory-purchases:8087
                      predicates:
                           - Path=/api/suppliers/**,/api/product-categories/**,/api/materials/**,/api/purchases/**,/api/purchase-details/**,/api/inventory-movements/**
                      filters:
                           - RewritePath=/api/(?<segment>.*), /api/v1/${segment}
                           - name: CircuitBreaker
                             args:
                                  name: inventoryCircuitBreaker
                                  fallbackUri: forward:/fallback/inventory
cors:
     allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200,https://lab.vallegrande.edu.pe/jass/SistemaJass}
logging:
     level:
          org.springframework.cloud.gateway: debug
