server:
  port: 9095

spring:
  application:
    name: vg-ms-gateway
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  main:
    web-application-type: reactive
  cloud:
    gateway:
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Origin Access-Control-Allow-Credentials, RETAIN_UNIQUE
      globalcors:
        add-to-simple-url-handler-mapping: true
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_ISSUER_URI:https://lab.vallegrande.edu.pe/auth/realms/sistema-jass}
          jwk-set-uri: ${KEYCLOAK_JWK_URI:https://lab.vallegrande.edu.pe/auth/realms/sistema-jass/protocol/openid-connect/certs}
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}

cors:
  allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:4200, https://lab.vallegrande.edu.pe/jass/SistemaJass}

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        failureRateThreshold: 50
        waitDurationInOpenState: 30000
        permittedNumberOfCallsInHalfOpenState: 5
    instances:
      authCircuitBreaker:
        baseConfig: default
      usersCircuitBreaker:
        baseConfig: default
      organizationsCircuitBreaker:
        baseConfig: default
      notificationsCircuitBreaker:
        baseConfig: default
      claimsCircuitBreaker:
        baseConfig: default
      paymentsCircuitBreaker:
        baseConfig: default
      inventoryCircuitBreaker:
        baseConfig: default
      infrastructureCircuitBreaker:
        baseConfig: default
      waterQualityCircuitBreaker:
        baseConfig: default
      distributionCircuitBreaker:
        baseConfig: default
  timelimiter:
    configs:
      default:
        timeoutDuration: 10s
    instances:
      authCircuitBreaker:
        baseConfig: default
      usersCircuitBreaker:
        baseConfig: default
      organizationsCircuitBreaker:
        baseConfig: default
      notificationsCircuitBreaker:
        baseConfig: default
      claimsCircuitBreaker:
        baseConfig: default
      paymentsCircuitBreaker:
        baseConfig: default
      inventoryCircuitBreaker:
        baseConfig: default
      infrastructureCircuitBreaker:
        baseConfig: default
      waterQualityCircuitBreaker:
        baseConfig: default
      distributionCircuitBreaker:
        baseConfig: default

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway
  endpoint:
    health:
      show-details: always
    gateway:
      enabled: true

logging:
  level:
    root: INFO
    pe.edu.vallegrande: DEBUG
    org.springframework.cloud.gateway: INFO