server:
  port: 8082

spring:
  application:
    name: vg-ms-authentication
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

  jackson:
    serialization:
      write-date-keys-as-timestamps: false
      indent-output: false
    deserialization:
      fail-on-unknown-properties: false
    default-property-inclusion: non_null
    date-format: "yyyy-MM-dd'T'HH:mm:ss.SSSZ"

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,circuitbrakerevents
      base-path: /actuator
  endpoint:
    health:
      show-details: when_authorized
      show-components: when_authorized
  health:
    circuitbreakers:
      enabled: true

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
resilience4j:
  circuitbreaker:
    configs:
        default:
            registerHealthIndicator: true
            sliding-window-size: 10
            sliding-window-type: COUNT_BASED
            minimumNumberOfCalls: 5
            permitted-number-of-calls-in-half-open-state: 3
            automatic-transition-from-open-to-half-open-enabled: true
            wait-duration-in-open-state: 10s
            failure-rate-threshold: 50
            slow-call-duration-threshold: 2s
            slow-call-rate-threshold: 50
    instances:
      keycloakService:
        baseConfig: default
        wait-duration-in-open-state: 15s
      usersService:
        baseConfig: default
        wait-duration-in-open-state: 10s
  retry:
    configs:
      default:
        max-attempts: 3
        wait-duration: 500ms
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 2

    instances:
      keycloakService:
        baseConfig: default
        max-attempts: 3
      usersService:
        base-config: default
        max-attempts: 2
  timelimiter:
    configs:
      default:
        timeout-duration: 5s
        cancel-running-future: true
    instances:
      keycloakService:
        baseConfig: default
        timeout-duration: 15s
      usersService:
        baseConfig: default
        timeout-duration: 10s

logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n"
  level:
    root: INFO
    pe.edu.vallegrande: INFO
    org.springframework.web: INFO
    org.springframework.security: INFO