spring:
  application:
    name: vg-ms-water-quality
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}
  webflux:
    base-path: /api/v1
  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  port: 8095
  shutdown: graceful

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method
    tags-sorter: alpha
    display-request-duration: true
  show-actuator: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
      base-path: /actuator
  endpoint:
    health:
      show-details: always
      show-components: always
  health:
    mongo:
      enabled: true
    rabbit:
      enabled: true

logging:
  level:
    root: INFO
    pe.edu.vallegrande: INFO
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} [%X{correlationId}] [%thread] %-5level %logger{36} - %msg%n"
