server:
  port: 8090

spring:
  application:
    name: vg-ms-notifications
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:dev}

springdoc:
  api-docs:
    path: /v3/api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    try-it-out-enabled: true
    operations-sorter: method

management:
  health:
    rabbit:
      enabled: false

frontend:
  url: ${FRONTEND_URL:https://lab.vallegrande.edu.pe/jass/SistemaJass}