spring:
     application:
          name: vg-ms-organizations
     profiles:
          active: ${SPRING_PROFILES_ACTIVE:dev}
     codec:
          max-in-memory-size: 10MB
     jackson:
          date-format: yyyy-MM-dd HH:mm:ss
          time-zone: UTC
     main:
          allow-bean-definition-overriding: true

server:
     port: 8083

management:
     endpoints:
          web:
               exposure:
                    include: health,info,metrics,prometheus
     endpoint:
          health:
               show-details: always
               probes:
                    enabled: true
     health:
          mongo:
               enabled: true
          rabbit:
               enabled: true

springdoc:
     api-docs:
          path: /v3/api-docs
     swagger-ui:
          path: /swagger-ui.html
          operations-sorter: alpha
          tags-sorter: alpha
